#D1{display:block;}
#BX {display:flex;}
#BX2 {display:block;}

#D1{Width:670px;background-color: Yellow;}

#B1,#B2,#B3,#B4,#B5,#B6,#B7{Width:60px;Height:10px;}

#D2, #D3{
Width:220px;
Height:110px;
text-align: center;
text-shadow: 1px 1px Gray;
color:Black;
font-size: 12px;
font-style: oblique;
font-family: "Times New Roman", Times, serif;
font-weight: bold;
//background-image:radial-gradient(Gray, Black);
//background-color: Yellow;
background-image: linear-gradient(180deg, LightGray, Gray);
border-radius: 10px;
border: 2px solid DarkGray;
border-style: inset;
padding: 5px 16px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#BX1,#BX2{
Height:260px;
Width:300px;
color:Black;
font-size: 16px;
font-weight: bold;
border-radius: 10px;
border: 2px solid DarkGray;
border-style: inset;
padding: 5px 16px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
